<?xml version="1.0" encoding="UTF-8"?>
<Context>
	<Resource 
		name="jdbc/pj_test" 
		auth="container"
		type="javax.sql.DataSource"
		factory="org.apache.tomcat.jdbc.pool.DataSourceFactory" 
		driverClassName="com.mysql.jdbc.Driver"
		url="jdbc:mysql://localhost:3306/pj_test"  
		username="root"
		password="1234"
		maxActive="100"
		maxIdle="10" />
</Context>